body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}